@charset "utf-8";
div.center {text-align: center;}

@font-face {
  font-family: 'tegaki'; 
  src: url('../fonts/tegaki.ttf') format('truetype');
}

.buruburu-hover:hover {
  display: inline-block;
  animation: hurueru .1s  infinite
  
}

@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
  
}

.popup {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container:hover .popup {
  display: block;
}

#rectangle {
  position: relative;
  width: 500px;
  height: 700px;
  border: 2px solid #000000;
}

#saveButton {
  margin-top: 10px;
}
